/* BÁSICOS PARA TODA LA PÁGINA */

* {
 margin:5px;
 padding:1px;
 box-sizing: border-box;
}


/* COLORES BÁSICOS QUE SE VAN A USAR */

:root{
  --color-enlace: #0300ce;
  --color-encabezado: #e8f6f8;
  --color-fondo: #dddddd;
  --color-negro: #333333;
  --color--primario:#ff7979;
  --color--blanco:#ffffff;
  

 
  --fuente-base: "Segoe UI", system-ui, -apple-system, sans-serif
  /* La funete la mantemenos porque es la más "moderna" y me ha gustado mucho */
}



body{
    font-family: var(--fuente-base);
    background-color: var(--color-fondo);
    color: var(--color-texto);
     line-height: 1.2;
}


/* TODOS LOS CONTENEDORES */
.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}



a {
    color:var(--color-enlace)
}



.site-header{
    background-color: var(--color-encabezado);
    text-align: center;
    border-bottom: 2px solid #333;
}


.logo{
    font-size: 50px;
    font-weight: bolder;
    padding: 0px;
}


.main-nav ul{

    list-style-type: none; /* QUITA LOS PUNTOS */
    margin: 0px;
    padding: 0px;
    gap: 50px; /* SEPARACIÓN DE LAS PALABRAS */
    display: flex;    
}


.main-nav ul li a{  /* para las palabras */
    text-decoration: none;
    color: rgb(90, 0, 0);
    font-weight: bold;
}


.main-nav a:hover {
  background-color: var(--color--blanco);
  color: var(--color-negro);
}


.btn{
    /* como se comporta el elemento en el espacio , y unos con otros elem. */
    display: inline-block ;
    /* inlcine-block es el tipo que más se puede retocar a nivel de espacios
    he visto que existe FLEX, pero he leido que es para poner como hijos, "anidaciones" */
    margin: 10px;
    padding: 15px;
    border-radius: 999px; /* Pastilla */
    border: 2px solid rgb(175, 0, 0);
    /* grosor | estilo | color =Borde*/
cursor:pointer;
 transition: background-color 0.4s ease, color 0.4s ease,
              transform 0.2s ease;  /* transición (animación suave) */
}


.btn-primero {
  background-color: var(--color-encabezado);
  color: var(--color--primario);
   text-decoration: none;
}


.btn-segundo {
  background-color: var(--color-encabezado);
  color: var(--color--primario);
   text-decoration: none;
}


.btn:hover {
  transform: translateY(-1px);
}


.btn:active {
  transform: translateY(1px);
}


#enlaces ul li a{
    list-style-type:circle;
    font-family: sans-serif;
    color:#0300ce ;
    text-decoration:underline dashed;
}

#contacto {
  background-color: #333;
  padding: 10px;
  border: #ce0000;
}



.site-footer{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
